<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja">
<head>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<link rel="stylesheet" type="text/css" media="all" href="styles.css" />
	<title>rhaco kaigi</title>
</head>
<body id="rhaco-kaigi">
<div id="wrapper">

    <div id="headbar">
        <h1><a href="/"><img src="images/h-logo.png" alt="rhaco kaigi" /></a></h1>
        <p>by rhaco-users.jp</p>
    </div>
    
    <div id="header">
        <h2>{$rhaco.constant('HEAD_TITLE')}</h2>
        <p class="description">{$rhaco.constant('HEAD_MSG')}</p>
    </div>
    
    <div id="contents">
        <div id="main">
          <rt:invalid />
          <rt:block name="main">
            <div class="entry">
                <h3>{$event.name}</h3>
                <p class="description">
                    {$hatena.parse($event.description)}
                </p>
                <p class="meta">
                  参加可能人数: {$event.maxParticipant}人 / 
                  参加登録期限: {$f.dateformat($event.periodDate, 'Y.m.d H:i')} / 
                  Last Updated: {$f.dateformat($event.updated, 'Y.m.d H:i')}</p>
            </div>
            <div class="entry">
                <h3>参加者 (<?php echo count($event->dependParticipants); ?> / {$event.maxParticipant})</h3>
                <rt:if param="{$event.dependParticipants}">
                <dl class="member">
                  <rt:loop param="{$event.dependParticipants}" var="p">
                    <dt><span class="n">{$f.escape($p.name)}</span><span class="d">{$f.dateformat($p.date)} [<a href="{$rhaco.page('cancel')}?id={$p.id}" title="キャンセル">x</a>]</span></dt>
                    <dd>{$f.escape($p.comment)}</dd>
                  </rt:loop>
                </dl>
                <rt:else />
                <p>
                  現在、参加者はいません。
                </p>
                </rt:if>
            </div>
            <ifnot param="{$event.private}">
            <div class="entry" id="event-entry">
                <h3>参加登録</h3>
                <p>何かあったときの連絡とかにメール欲しい人はメールアドレスも入れてくださいな</p>
                <rt:invalid />
                <form action="{$rhaco.page('join')}" method="post">
                  <input type="hidden" value="{$event.id}" name="event" />
                    <dl>
                        <dt>おなまえ</dt>
                        <dd><input type="text" name="name" rt:reference="true" /></dd>
                        <dt>メールアドレス</dt>
                        <dd><input type="text" name="mail" rt:reference="true" /></dd>
                        <dt>コメント</dt>
                        <dd><input type="text" name="comment" rt:reference="true" /></dd>
                        <dt>{$rhaco.constant('QUESTION')}</dt>
                        <dd><input type="text" name="answer" value="" rt:reference="true" />
                        <dd><input type="submit" value="参加" /></dd>
                    </dl>
                </form>
            </div>
            </rt:ifnot>
          </rt:block>
        </div>
        
        <div id="sub">
            {$rhaco.constant('EXTRA_SUB')}
            
            <p class="info">rhaco kaigi 参加者募集をしてみます。<br />
            詳細決まってないのに参加者募集するとかどうなってるんですかね！</p>
            <ul class="navi">
                <li><a href="http://rhaco-users.jp/">rhaco-users</a></li>
                <li><a href="#event-entry">参加登録</a></li>
            </ul>
        </div>
    </div>
    
    <div id="footer">
        <address><a href="http://rhaco-users.jp/">Powered by rhaco-users.jp</a></address>
    </div>

</div>
<script src="http://stds.riaf.jp/say.no.to.ie.6.js"></script>
</body>
</html>
